<section class="portfolio" id="portfolio">
	<div class="container-fluid">
		<div class="row">

			<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1 class="gallery-title">Nuestras Bicis</h1>
                
                <div align="center">
                    <button class="filter-button" data-filter="all">Todas</button>
                    <button class="filter-button" data-filter="category1">Adultos</button>
                    <button class="filter-button" data-filter="category2">Con Motor</button>
                    <button class="filter-button" data-filter="category3">Infantiles</button>
                </div>
			</div>

			<br/>

            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://previews.123rf.com/images/vladstar/vladstar1111/vladstar111100042/11266891-bicicleta-de-monta%C3%B1a-en-bicicleta-sobre-fondo-blanco.jpg">
                    <img class="img-responsive" alt="" width="400px" height="250px" src="https://previews.123rf.com/images/vladstar/vladstar1111/vladstar111100042/11266891-bicicleta-de-monta%C3%B1a-en-bicicleta-sobre-fondo-blanco.jpg" />
                    <div class='img-info'>
                        <h4>Bicicleta Mountain Bike</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            
            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2020/05/22/15901375473380.jpg">
                    <img class="img-responsive" alt="" width="400px" height="250px" src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2020/05/22/15901375473380.jpg" />
                    <div class='img-info'>
                        <h4>Bicicletas con motor</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            
            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://previews.123rf.com/images/pioneer111/pioneer1111702/pioneer111170200018/72828620-bicicleta-para-ni%C3%B1os-aislado-sobre-fondo-blanco.jpg">
                    <img class="img-responsive" alt="" width="400px" height="250px" src="https://previews.123rf.com/images/pioneer111/pioneer1111702/pioneer111170200018/72828620-bicicleta-para-ni%C3%B1os-aislado-sobre-fondo-blanco.jpg" />
                    <div class='img-info'>
                        <h4>Bicileta Infantil</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://previews.123rf.com/images/pioneer111/pioneer1111612/pioneer111161200010/70632081-bicicletas-para-ni%C3%B1os-aislados-en-fondo-blanco.jpg">
                    <img class="img-responsive" alt="" width="400px" height="250px" src="https://previews.123rf.com/images/pioneer111/pioneer1111612/pioneer111161200010/70632081-bicicletas-para-ni%C3%B1os-aislados-en-fondo-blanco.jpg" />
                    <div class='img-info'>
                        <h4>Bicileta Infantil</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://media.alltricks.com/hd/18327385f992d9acce6e2.04706651.jpg">
                    <img class="img-responsive" alt="" width="400px" height="250px" src="https://media.alltricks.com/hd/18327385f992d9acce6e2.04706651.jpg" />
                    <div class='img-info'>
                        <h4>Bicicletas con motor</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://previews.123rf.com/images/pioneer111/pioneer1111801/pioneer111180100040/94152473-bicicleta-para-los-ni%C3%B1os-aislados-en-el-fondo-blanco.jpg">
                    <img class="img-responsive" alt="" width="400px" height="250px" src="https://previews.123rf.com/images/pioneer111/pioneer1111801/pioneer111180100040/94152473-bicicleta-para-los-ni%C3%B1os-aislados-en-el-fondo-blanco.jpg" />
                    <div class='img-info'>
                        <h4>Bicicleta Mountain Bike</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            
            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://previews.123rf.com/images/pioneer111/pioneer1111702/pioneer111170200018/72828620-bicicleta-para-ni%C3%B1os-aislado-sobre-fondo-blanco.jpg">
                    <img class="img-responsive" alt="" width="400px" height="250px" src="https://previews.123rf.com/images/pioneer111/pioneer1111702/pioneer111170200018/72828620-bicicleta-para-ni%C3%B1os-aislado-sobre-fondo-blanco.jpg" />
                    <div class='img-info'>
                        <h4>Bicileta Infantil</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://media.istockphoto.com/photos/yellow-bicycle-isolated-on-white-background-picture-id932326578">
                    <img class="img-responsive" alt="" width="400px" height="250px" src="https://media.istockphoto.com/photos/yellow-bicycle-isolated-on-white-background-picture-id932326578" />
                    <div class='img-info'>
                        <h4>Bicicleta Mountain Bike</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://previews.123rf.com/images/pioneer111/pioneer1111702/pioneer111170200018/72828620-bicicleta-para-ni%C3%B1os-aislado-sobre-fondo-blanco.jpg">
                    <img class="img-responsive" alt="" width="400px" height="250px" src="https://previews.123rf.com/images/pioneer111/pioneer1111702/pioneer111170200018/72828620-bicicleta-para-ni%C3%B1os-aislado-sobre-fondo-blanco.jpg" />
                    <div class='img-info'>
                        <h4>Bicileta Infantil</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
            

		</div>
	</div>
</section>